<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<!-- Image and text -->
<nav class="navbar navbar-light" style="background-color:#c00">
	<a class="navbar-brand" href="#">
		<img src="http://www.njit.edu//sites/all/themes/corporate2018dev/logo.svg" width="200px" height="60px" class="d-inline-block align-top" alt="">
	</a>
</nav>


<div class="jumbotron">
	  <h1 class="display-4">Success!</h1>
	    <p class="lead">Your account has been successfully created. </p>
	      <hr class="my-4">
	        <p>Please verify your email and phone address to have full access of our services</p>
		  <a class="btn btn-primary btn-lg" href="login.php" role="button">Login</a>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
